.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944D);
}

.auth-form-container,
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}

.auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
}


label {
    text-align: left;
    padding: 0.25rem 0;
}
.box {
    margin: 10px;
}
input {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
}
.name-form {
    display: flex;
    align-items: center;
    
}
.spacer {
    flex-grow: 1;
    margin: 0 10px;
}

@media(max-width: 600px ) {
    .name-form {
        margin: 0px;
        flex-direction: column;
    }
    .spacer {
        flex-grow: 0;
        margin: 10 0px;
    }
}
button {
    border: none;
    color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: whitesmoke;
}
button:hover {
    background-image: linear-gradient(79deg, #f7944D, #c66fbc 45%, #7439db);
}

.link-btn {
    font-size: 12px;
    background : none;
    color: white;
    text-decoration: none;
}
.link-btn:hover{
    text-decoration:underline;
}


/* --------------------------------------Dashboard Page---------------------------------- */
.dashboard {
    --ms-overflow-style: none;
    height: 60vh;
    width: 300px;
    padding : 5px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    overflow-y: scroll;
    display: block;
}
.dashboard::-webkit-scrollbar{
    display: none;
}
.heading-section{
    height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c66fbc;
  border-radius: 10px;
  width: 297px;
  
}
.content-section{
    flex: 1;
    overflow: hidden;
    padding: 5px;
}
.dashboard-footer{
    height: 55px;
    width: 297px;
    background-color:#c66fbc;
    justify-content: center;
    align-items: center;
}
/* --------------------------------------CARD style---------------------------------- */
.card-body{
    text-align: left;
    text-size-adjust: 11px;
    height: 140px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid white;
    margin : 5px;
    padding: 15px;
    align-content: center;
}
.website-name{
    display: flex;
    margin: 5px;
    padding-left: 8px;
}

.website-url, .website-username, .website-password{
    margin: 8px;
    display: flex;
    align-items: center;    
}
.card-labels{
    font-size: 10px;
    display: flex;
    padding-right: 15px;
}
.card-value{
    font-size: 11px;
    margin: 0px;
    color: #c66fbc;
    text-align: right;
    display: flex;
}
.card-value:hover{
    text-decoration: underline;
}

.card-pass-button{
    background: none;
    color: white;
    margin: 0px;
    padding: 2px;
    align-items: center
}
.card-pass-button:hover{
    background: none;
    text-decoration: underline;
}

.card-footer {
    height: 25px;
    display: flex;
    justify-content: flex-end;
  }
  
  .threeDot {
    padding: 5px;
    background: none;
    width: 15px;
    height: 10px;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
  }
  
.threeDot:hover{
    background-color: #c839db;
    transform: rotate(270deg);
}

.dropdownMenu{
    background: none;
    border-radius: 2.5px;
    margin: 0;
    width: flex;
    height: 25px;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.dropdownItem{
    margin: 6px;
    padding: 0;
}

.dropdownItem:hover {
    background-color: #c839db;
  }